.footer {
  width: 100%;
  background-color: #fdd736 !important;
  padding: 20px;
}

.logo {
  height: 62px;
  width: auto;
  cursor: pointer;
}

.sub-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #424242;
  text-align: center;
}

.dialog-container {
  font-family: Raleway;
  font-style: normal;
  color: #fdd736;
}
