<div fxFlexFill fxLayout="column" fxLayoutAlign="start center">
  <div class="logo-text-container" fxLayout fxLayoutAlign="null center">
    <h1 ngClass="logo-text mt-70" ngClass.xs="logo-text-xs mt-200">404</h1>
  </div>
  <div
    ngClass.gt-xs="logo-subtext-container"
    fxLayout
    fxLayoutAlign="null center"
  >
    <p ngClass="log-subtext-c" ngClass.xs="log-subtext-c-xs">
      Dirección no encontrada, diríjase a
    </p>
  </div>
  <a style="text-decoration: none" href="">
    <div class="logo-text-container" fxLayout fxLayoutAlign="null center">
      <h1 ngClass="logo-text" ngClass.xs="logo-text-xs">
        todaslasfarmacias.com
      </h1>
    </div>
  </a>
  <div
    ngClass.gt-xs="logo-subtext-container"
    fxLayout
    fxLayoutAlign="null center"
  >
    <p ngClass="log-subtext-c" ngClass.xs="log-subtext-c-xs">
      para seguir buscando
    </p>
  </div>
  <div
    ngClass="bottom-text-container"
    ngClass.xs="bottom-text-container-xs"
    fxLayout
    fxLayoutAlign="space-around start"
  >
    <div ngClass="bottom-text" ngClass.xs="bottom-text-xs" style="width: 33%">
      <mat-icon>search</mat-icon>
      <p ngClass="bottom-text help-text" ngClass.xs="bottom-text-xs help-text">
        Escribe el nombre del medicamento que necesitas
      </p>
    </div>
    <div ngClass="bottom-text" ngClass.xs="bottom-text-xs" style="width: 33%">
      <mat-icon>savings</mat-icon>
      <p ngClass="bottom-text help-text" ngClass.xs="bottom-text-xs help-text">
        Descubre qué farmacia tiene el medicamento que buscas al mejor precio
      </p>
    </div>
    <div ngClass="bottom-text" ngClass.xs="bottom-text-xs" style="width: 33%">
      <mat-icon>compare_arrows</mat-icon>
      <p ngClass="bottom-text help-text" ngClass.xs="bottom-text-xs help-text">
        Ve a comprarlo y con lo que ahorraste <strong>Date</strong> un
        <strong>Gustito</strong>
      </p>
    </div>
  </div>
</div>
