<div fxLayout="column" fxLayoutAlign="space-around center" class="footer">
  <img
    ngClass="logo"
    src="../assets/images/logo/logo-gray.svg"
    alt="todaslasfarmacias.com"
    routerLink="/home"
  />
  <p class="sub-text" style="font-size: 20px; font-weight: 700">
    ¿Eres farmacia y quieres aparecer aquí?
    <a class="btn" (click)="openDialog()">Contáctanos</a>
    <!-- <button (click)="openDialog()">Contactanos</button> -->
  </p>

  <p class="sub-text" style="margin-top: 20px">
    Mientras usa este sitio, acepta haber leido y aceptado nuestros
    <a href="../assets/images/logo/logo-gray.svg">Términos de Servicio</a> y
    <a href="../assets/images/logo/logo-gray.svg">Política de Privacidad</a>
  </p>
  <p class="sub-text">© Copyright 2021. Todos los derechos reservados.</p>
</div>
