<div class="searchbar-container" fxLayout fxLayoutAlign="center center">
  <div class="icon-container">
    <img
      class="search-icon"
      src="../../assets/images/search-outline-gray.svg"
      alt="Search Icon"
    />
  </div>
  <input
    class="search-input"
    matInput
    type="text"
    [(ngModel)]="userInputLocal"
    placeholder="ejemplo: Ibuprofeno"
    (keyup.enter)="onSearch()"
    [formControl]="control"
    [matAutocomplete]="auto"
    style="border-radius: 10px 0 0 10px"
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
      {{ street }}
    </mat-option>
  </mat-autocomplete>
  <button
    class="search-button"
    mat-raised-button
    (click)="onSearch()"
    style="border-radius: 0 10px 10px 0 !important"
  >
    Buscar
  </button>
</div>
